name: Deploy Flutter Developer Portfolio V2 to GitHub Pages

on:
  push:
    branches: [ master ]
    paths:
      - "lib/**"
      - "web/**"
      - "pubspec.yaml"
      - "pubspec.lock"
      - ".github/workflows/deploy.yml"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # Cache Flutter SDK + Pub packages
      - name: Cache Flutter & Pub
        uses: actions/cache@v3
        with:
          path: |
            ~/.pub-cache
            ${{ runner.tool_cache }}/flutter
          key: ${{ runner.os }}-flutter-${{ hashFiles('pubspec.lock') }}
          restore-keys: |
            ${{ runner.os }}-flutter-

      # Restore or install Flutter
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.38.3'

      - name: Enable web
        run: flutter config --enable-web

      - name: Install dependencies
        run: flutter pub get

      - name: Build web
        run: flutter build web --release --base-href /flutter_portfolio_v2/

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web
          publish_branch: gh-pages
